
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-webfont.eot');
    src: url('Roboto-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body
{
    font-family: Roboto, calibri, corbel; /*roboto marche pas comme ça*/
    margin-left: 500px;
    margin-right: 190px;
    max-width: 1200px;
}
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#menu
{
    display: flex;
    justify-content: stretch; /*marche pas*/
    align-items: center;
    list-style-type: none;
}
#banniere
{
    height: 450px;
    width: 40px;
    float: center;
}
h1
{
    font-size: 3em;
    color: white;
    margin-left: 200px;
}
#corps-blanc
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
}
article
{
    display: flex;
}
footer
{
    background-color: #5b359d;
    color: white;
    padding-bottom: 20px;
}
.textfooter
{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-weight: bold;
}

.basdepage
{
    display: flex;
    justify-content: space-around;

}
.coordonnees
{
    list-style-type: none;
    
}

.accès ,.propos ,.adresse /*titre des rubriques de footer*/
{
    color: grey; /*doit être blanc avec des contours gris*/
}
li /*police du pied de page pour les listes à puce*/
{
    color: white;
}
.menuhaut /*police du nav dans le header*/
{
    color: black;
}